{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": ".",
    "paths": { "~/*": ["./src/*"], "🧪/*": ["./test/*"] },
    "minify": { "format": { "comments": false } },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext",
    "transform": { "decoratorMetadata": true }
  },
  "module": { "type": "es6", "strict": true }
}
